.modal-body{
    padding-right: 0px;
    background-color: #FEF9E7 ;
}

.Modal{
    display: flex;
   flex-direction: row; 
}

.modal-left{
   
   
    align-items: center;
    justify-content: center;
    width: 300px;
    margin-left: 0;
}
.modal-left img{
    width: 500px;
}

.modal-right{
    background-color: rgb(148, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   line-height: 1;
   width: 700px;
   border-radius: 20% 0 0 20%;
   padding-top: 10px;
}
.modal-right span{
    color: #ff4141;
}

.modal-input{
   
    width: 400px;
    height: 20px;
    border: 1px solid black;
    margin: 10px 0 auto 0;
    padding: 10px 15px;
    height: 2.5rem;
    box-shadow: 0px 0px 8px #ddd;
    align-items: center;
   margin-bottom: 15px;
    
}

.modal-input input{
        background-color: transparent;
        border: none;
        font-size: 1.1rem;
        width: 100%;
        height: 100%;
       text-align: center;
    
}

button{
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
    background-color:#ff4141 ;
    color: white;
}

.modal-contact{
    margin-top: 20px;
    margin-bottom: 10px;
}

